body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #1F4D3A;
    color: #E8E0D2;
}

header {
    background-color: #163B2D;
    background-image: linear-gradient(
        rgba(22, 59, 45, 0.55),
        rgba(22, 59, 45, 0.55)
    ),
    url("banner2.jpg");

    background-size: cover;
    background-position: center;
    padding: 35px 20px 20px;
    text-align: center;
}

.logo {
    font-size: 46px;
    font-weight: bold;
    letter-spacing: 10px;
    margin-bottom: 18px;

    color: #C58A78;

    text-shadow:
        0 -1px 0 #F0C9BA,
        1px 1px 0 #6B3D32,
        -1px 1px 0 #6B3D32,
        1px -1px 0 #6B3D32,
        -1px -1px 0 #6B3D32,
        2px 3px 0 #59352D,
        4px 6px 10px rgba(0, 0, 0, 0.85);
}

header a {
    color: #E8E0D2;
    text-decoration: none;
    margin: 0 18px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 6px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
}

header a:hover {
    color: #C58A78;
    border-bottom: 1px solid #C58A78;
}

main {
    max-width: 900px;
    margin: 70px auto;
    padding: 20px;
    text-align: center;
}

h1 {
color: #C58A78;
font-family: 'Cormorant Garamond', serif;
font-size: 52px;
font-weight: 600;
letter-spacing: 1px;
text-shadow:
1px 1px 0 #E8C7BC,
2px 2px 4px rgba(0, 0, 0, 0.90);
}

p {
    color: #E8E0D2;
    font-size: 18px;
    line-height: 1.6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.55);
}

.button {
    display: inline-block;
    background-color: #C58A78;
    color: #163B2D;
    padding: 12px 22px;
    margin: 10px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    background-color: #D5A696;
}

@media (max-width: 600px) {

    header {
        padding: 25px 10px 15px;
    }

    .logo {
        font-size: 36px;
        letter-spacing: 6px;
    }

    header a {
        display: inline-block;
        margin: 8px 7px;
        font-size: 15px;
    }

    main {
        margin: 40px auto;
        padding: 15px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 17px;
    }

}

h2 {
color: #C58A78;
font-family: 'Cormorant Garamond', serif;
font-size: 30px;
font-weight: 500;
letter-spacing: 2px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.60);
margin-top: -10px;
margin-bottom: 18px;
}

h3 {
color: #C58A78;
font-family: 'Cormorant Garamond', serif;
font-size: 30px;
font-weight: 500;
letter-spacing: 2px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.60);
margin-top: -10px;
margin-bottom: 18px;
}

.logo-area img {
    width: 90px;
    height: auto;
}

.logo-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 768px) {
    .logo-area {
        flex-direction: column;
        gap: 10px;
    }

    .logo-area img {
        width: 60px;
    }
}